@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* CSS VARIABLES */
:root {
  --normal-font: 500;
  --bold-font: 600;
  --bolder-font: 700;
  --primary-color: #1B263B;
  --secondary-color: #778DA9;
  --secondary-color-variant: #E0E1DD;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* SCROLL SMOOTH */

html {
  scroll-behavior: smooth;
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

/*! NAVBAR  !*/

/* LOGO */

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--secondary-color-variant);
}

nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4rem 1.2rem 8rem;
  box-shadow: 2px 3px 2px #f1f1f1;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: 500;
  color: var(--secondary-color-variant);
}

.hamburger {
  display: none;
}

/*! HERO SECTION */

.hero-section {
  height: auto;
  background-color: var(--secondary-color);
  color: var(--secondary-color-variant);
}

.hero-text {
  width: 70%;
  padding: 2rem 5rem;
}

.hero-text>p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero-title {
  display: flex;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.hero-title-history {
  color: #1B263B;
  margin-left: 8px;
}

.hero-button {
  background-color: #1B263B;
  color: var(--secondary-color-variant);
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 1.1rem;
  font-weight: 700;
  overflow: hidden;

  transition: var(--transition);
}

.hero-button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--secondary-color-variant);
  border: 1px solid var(--primary-color);
}

/*! FUNCIONALIDADES SECTION */

.funcs-section {
  width: 100%;
  background-color: #FFF;
  color: var(--primary-color);
  padding: 2rem 5rem;
  display: flex;
  flex-direction:  column;
  align-items: center;
  text-align: center;
}

.funcs-list {
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
}

.func-item {
  height: 256px;
  width: 272px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.func-icon {
  background-color: var(--secondary-color-variant);
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

.func-item h2 {
  font-weight:500;
  font-size: 20px;
}

.func-item h3{
  font-weight:400;
  font-size: 16px;
}

/*! ABOUT SECTION */

.about-section {
  background-color: var(--primary-color);
  color: var(--secondary-color-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.about-content {
  max-width: 75%;
  padding: 2rem 3rem;
}

.about-section>h1 {
  margin-top: 1rem;
}

.logo-if {
  width: 20%;
  align-self: center;
  margin-bottom: 1rem;
}